.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 30px;
	padding: 30px;
	background-color: rgba(163, 226, 249, 1);
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-weight: 500;
}

.footer__social {
	display: flex;
	gap: 10px;
}

.footer__social_item {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.social_item__image {
	width: 100%;
}
